parameters:
    excludePaths:
        analyse:
            - *.tpl.php
            - CommandlogBundle
            - MigrationsBundle
    ignoreErrors:
        - '#\(SimpleXMLElement\|null\) does not accept string#'
        - '#SimpleXMLElement does not accept #'